# Database PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=

# Backend
JWT_SECRET=

# Chatbot
OLLAMA_URL=http://localhost:11434
FUNCTION_MODEL=functiongemma
DIALOG_MODEL=gemma3:1b
WEBSITE_BACKEND_URL=http://localhost:3000
PYTHON_SERVICE_PORT=8001
PYTHON_SERVICE_HOST=0.0.0.0
